@tailwind base;
@tailwind components;
@tailwind utilities;

/* Currently just need necessary color, you can change it later !
Configure the color in tailwnd.config.js
Too see more : https://ui.shadcn.com/docs/installation#configure-tailwindconfigjs */

@layer base {
  :root {
    --background: #f8f8f8;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: #a6a6a6;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: #e6e6e6;
    --accent-foreground: #1a1a1a;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.8rem;
  }
}
